<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,411},{75,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,86}}</string>
                <key>sourceSize</key>
                <string>{75,86}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,408},{65,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{65,86}}</string>
                <key>sourceSize</key>
                <string>{75,86}</string>
            </dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,411},{71,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,86}}</string>
                <key>sourceSize</key>
                <string>{75,86}</string>
            </dict>
            <key>clickme.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,114},{127,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,38},{127,124}}</string>
                <key>sourceSize</key>
                <string>{195,200}</string>
            </dict>
            <key>comming.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{113,74}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,44},{113,74}}</string>
                <key>sourceSize</key>
                <string>{195,200}</string>
            </dict>
            <key>different.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,218},{145,188}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{145,188}}</string>
                <key>sourceSize</key>
                <string>{195,200}</string>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,214}}</string>
                <key>sourceSize</key>
                <string>{198,214}</string>
            </dict>
            <key>s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{75,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,86}}</string>
                <key>sourceSize</key>
                <string>{75,86}</string>
            </dict>
            <key>slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{110,184}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,10},{110,184}}</string>
                <key>sourceSize</key>
                <string>{198,214}</string>
            </dict>
            <key>unknown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{171,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,191}}</string>
                <key>sourceSize</key>
                <string>{171,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>select.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8426b4767ffdf5ed25f17ce8c169fc9$</string>
            <key>textureFileName</key>
            <string>select.png</string>
        </dict>
    </dict>
</plist>
